configuration {
  font: "Maple Mono NL NF CN 11";
  show-icons: false;

  display-ssh:    " ";
  display-run:    " ";
  display-drun:   " ";
  display-window: " ";
  display-combi:  " ";
}

@theme "~/.config/rofi/theme.rasi"

window {
  width: 30%;
}

listview {
  lines: 7;
  columns: 1;
}
